<button onclick={{action "azureReportsClick"}}>Azure Reports</button>
<button onclick={{action "auditAzureReportsClick"}}>Scope Azure Reports</button>
<button onclick={{action "reportBoardClick"}}>Scope Audit Reports</button>
<button onclick={{action "reportBoardReportsClick"}}>Reports Board Azure</button>

{{yield}}